.wrapper{
	width: 218px;
	height: 63px;
	border: 2px solid;
	border-color: #666666;
	border-radius: 15px;
	background:  white;


}
.inner-div{
	margin: 2px;
	border-radius: 10px;
	background:  #C2C2C2;

}
.button{

	width: 200px;
	height: 45px;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid;
	border-radius: 10px;
	margin: 7px;
	box-shadow: 2px 2px 2px grey;

}
#grad {
	background: -webkit-linear-gradient(#C4C4C4 50%, #B4B4B4 50%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#C4C4C4 50%, #B4B4B4 50%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#C4C4C4 50%, #B4B4B4 50%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#C4C4C4 50%, #B4B4B4 50%); /* Standard syntax (must be last) */
}
