<!DOCTYPE html>
<html lang="en">

 <head>
 	<meta charset="UTF-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<title>Angular.js - Lazy Loading</title>
 	<link rel="stylesheet" href="css/bootstrap-grid.min.css">
 	<link rel="stylesheet" href="css/skeleton.css">
 	<link rel="stylesheet" href="css/main.css">
</head>
<!-- Defining scope of angular app using ng-app-->
<body ng-app="lazyApp" ng-controller="lazyController">

	<!-- Iterating instagram images using ng-repeat directive -->
	<div class="container">
	
		<h4>Implementation of lazy loading in AngularJs</h4>
		<input type="text" ng-model="tag" class="required" placeholder="Enter Search Tag" ng-keypress="($event.which === 13)?search(tag):0">
		<button ng-click="search(tag)" class="button button-primary">Search</button>

		Results till now : {{pics.length}} {{ tag }}

		<br><span ng-if="dataLoading">Similar terms: </span>
		<span ng-if="dataLoading" ng-repeat="tag in suggestions" class="similar">
			<a href="" ng-click="search(tag)" class="tag">{{ tag }}</a>
		</span>

		<!-- Showing result -->
		<div class="row" when-scrolled="getMore(tag, next)">
			<div ng-repeat="p in pics">
			  <div class="col-md-3">
				<a href="{{p.link}}" target="_blank">
					<img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}">
				</a>
				<span>Likes: {{p.likes.count}}</span> 
			  </div>     
		    </div>
		    <div ng-if="dataLoading">
			    Loading...
			</div>
		    <!-- Button to render more images on demand -->
			<!-- <button type="button" ng-click="getMore(tag)" ng-if="dataLoading" class="button button-primary">
			  Load More Results..
			</button><br><br><br> -->
		</div><!-- ./row -->

    </div><!-- ./container -->

    <!-- Js link for angularJs  & Angular module/Controller -->
	<script src="js/angular.min.js"></script> 
	<script src="js/custom.js"></script>
</body>
</html>
