@import 'base.css';
body,
html {
  font-family: 'Montserrat', sans-serif;
}

.font-tangerine {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}


/*MDL DESIGN REWRITE*/

.web-layout-transparent .mdl-layout__header,
.web-layout-transparent .mdl-layout__drawer-button,
.mdl-layout__drawer .mdl-navigation__link {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white !important;
}

.mdl-layout__header .mdl-layout__header-row,
.mdl-layout__drawer {
  background: #3D3D3A;
  color: white;
}

.material-icons {
  vertical-align: middle;
}

.mdl-layout__drawer-button .material-icons {
  vertical-align: inherit;
}

.mdl-layout__drawer .mdl-navigation__link.active-page,
.mdl-layout__header-row .mdl-navigation__link.active-page {
  background: white;
  color: black !important;
  opacity: 1;
}

.mdl-layout__drawer {
  border-right: none;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: inherit;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #272722;
}

.mdl-layout__content {
  position: relative;
  color: black;
}

.mdl-mini-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}


/*SUBLIME/General CSS*/

.tab-bgLayer {
  background: #171714;
}

.small-font {
  font-size: 12px;
}

.text-green {
  color: #A3C336;
}

.text-pink {
  color: #D94D68;
}

.bg-pink {
  background: #B43E60
}

.bg-green {
  background: #009688;
  color: white;
}

.bg-dust {
  background: #EBEBEB;
}

.cd-color {
  color: #1B5E8B;
}

.text-darkBlue {
  color: #2F3757;
}

.text-white {
  color: white;
}

.text-orange {
  color: #DB752B;
}

.text-green {
  color: #57AC6F;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.big-font {
  font-size: 16px;
}

.pull-right {
  float: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.show-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.full-border {
  border: 1px solid !important;
}

.main-content {
  padding-bottom: 100px;
}

.tab-key {
  padding-left: 30px;
}

.padding-top20 {
  padding-top: 20px;
}

.padding-lr30 {
  padding: 0 30px;
}

.margin-lr30 {
  margin: 0 30px;
}

.padding-bottom10 {
  padding-bottom: 15px;
}

.visible-font {
  color: black;
  font-weight: bold;
}

.btn.btn-medium {
  min-width: 145px;
  font-size: 13px;
}

.btn {
  padding: 12px 0px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 2px;
}

.google-btn {
  background: #eb5e5e;
}

.twitter-btn {
  background: #3EA4EF;
  color: white;
}

.github-btn {
  background: white;
  color: black;
}

.fb-btn {
  background: #596dae;
}

.designation {
  padding-left: 40px;
}

.position-relative {
  position: relative;
}

.the-end {
  width: 100px;
}

.margin-center {
  margin: 0 auto;
}


/*Work Page css*/

.mdl-card {
  width: 100%;
}

.work-card-wide .mdl-card__title-text {
  font-size: 15px;
}

.work-card-wide > .mdl-card__title {
  color: #fff;
  height: 190px;
}

.work-card-wide.coupondunia > .mdl-card__title {
  background: url('../img/CD.jpg') center / cover;
}

.work-card-wide.flyrobe > .mdl-card__title {
  background: url('../img/flyrobe.jpg') center / cover;
}

.work-card-wide.browserstack > .mdl-card__title {
  background: url('../img/browserstack.png') center / cover;
  background-size: 90% 50%;
  background-repeat: no-repeat;
}

.work-card-wide.scipy > .mdl-card__title {
  background: url('../img/scipy.jpg') no-repeat;
  background-size: cover;
}

.work-card-wide.estripper > .mdl-card__title {
  background: url('../img/estripper.png') no-repeat;
  background-size: cover;
}

.techs {
  padding: 0 15px;
  letter-spacing: .8px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #f44336;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #f44336;
}

.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
  display: block;
  padding-top: 30px;
}

.mdl-tabs__tab-bar {
  border-bottom: 1px solid #f44336;
}

#course-panel img {
  height: 125px;
}


/*BLOG CSS*/

.blog-card .mdl-card__title {
  padding: 0;
}


/*Vertical Tabs*/

.vertical-mdl-tabs .mdl-tabs__tab-bar {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 35px;
  height: inherit;
  border-bottom: none;
  border-right: 1px solid rgba(10, 11, 49, 0.20);
}

.vertical-mdl-tabs .mdl-tabs__tab {
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  letter-spacing: 2px;
}

.vertical-mdl-tabs .mdl-tabs__tab:hover {
  background: rgba(158, 158, 158, 0.34);
  color: black;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded a.mdl-tabs__tab.is-active {
  border-right: 2px solid #ED462F;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  content: inherit;
  height: 0;
}

.vertical-mdl-tabs.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
  padding: 0 30px;
}

.vertical-mdl-tabs.mdl-tabs .mdl-tabs__tab {
  text-align: left;
}


/*COntact*/

.social-link a {
  display: inline-block;
  margin-right: 10px;
}


/*GRID CSS*/

.width960 {
  max-width: 960px;
}

.standard-width {
  max-width: 1200px;
}


/*TABLET + MOBILE SPECIFIC CSS*/

@media (max-width: 840px) {
  .home-page .padding-lr30 {
    padding: 0;
  }
  .mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
    padding: 0px 50px;
  }
  .main-content {
    padding: 0;
  }
}


/*MOBILE SPECIFIC CSS*/

@media (max-width: 480px) {
  .main-content {
    padding: 5px 0px;
  }
  .work-card-wide.flyrobe > .mdl-card__title {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .work-card-wide > .mdl-card__title {
    color: #fff;
    height: 150px;
  }
}
