@import 'base.css';
@import 'utilities.css';

@import 'vertical-tabs.css';

/* HEADER */
.mdl-layout-title {
  display: flex;
  align-items: center;
  font-family: 'Lato', serif;
  font-size: 16px;
  font-weight: bold;
}
.mdl-layout-title .designation  {
  font-size: 14px;
}

.logo {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  transform: rotate(45deg);

  padding: 8px;
  border: 5px solid;
  /*border-radius: 40px;*/
  font-size: 18px;
  cursor: pointer;
}

.logo div {
  position: absolute;
  transform: rotate(-45deg);
}

.logo-text {
  line-height: 24px;
}

.hero-section,
.mdl-layout__header .mdl-layout__header-row,
.mdl-layout__drawer {
  background: #673AB7;
}

/* HERO SECTION */
.hero-section {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero-content {
  max-width: 730px;
}

/*MDL DESIGN REWRITE*/
.mdl-layout__header-row {
  height: 80px;
}

.mdl-layout__header {
  position: relative;
}

.web-layout-transparent .mdl-layout__header,
.web-layout-transparent .mdl-layout__drawer-button,
.mdl-layout__drawer .mdl-navigation__link {
  color: white !important;
}

.mdl-layout__header .mdl-layout__header-row,
.mdl-layout__drawer {
  color: white;
}

.material-icons {
  vertical-align: middle;
}

.mdl-layout__drawer-button .material-icons {
  vertical-align: inherit;
}

.mdl-layout__header-row .mdl-navigation__link {
  text-transform: uppercase;
}

.mdl-layout__drawer .mdl-navigation__link.active-page,
.mdl-layout__header-row .mdl-navigation__link.active-page {
  position: relative;
  opacity: 1;
  font-weight: bold;
}

.active-page:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 5px;
  background: white;
  border-radius: 5px;
}

.mdl-layout__drawer {
  border-right: none;
}

.mdl-layout__drawer .mdl-navigation {
  padding-top: inherit;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #272722;
}

.mdl-layout__content {
  position: relative;
  color: black;
}

.mdl-mini-footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/* */

.main-content {
  padding-bottom: 100px;
}

.google-btn {
  background: #eb5e5e;
}

.twitter-btn {
  background: #3EA4EF;
  color: white;
}

.github-btn {
  background: white;
  color: black;
}

.fb-btn {
  background: #596dae;
}

.the-end {
  width: 100px;
}

.sublime-tab-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: #6D6E6A;
  padding-top: 5px;
  transform: translateY(-100%);
}
.sublime-tab:after, .sublime-tab:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -28px;
  top: 2px;
  border: 28px solid;
  border-color: transparent;
  border-bottom-color: #282923;
  transform: translateY(-50%);
}
.sublime-tab:before {
  right: auto;
  left: -28px;
}
.sublime-tab {
  position: relative;
  left: 28px;
  width: 150px;
  padding: 5px;
  padding-left: 17px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 12px !important;
  font-weight: bold;
  background: #282923;
}
.sublime-section {
  position: relative;
  background: #282923;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.sublime-section a {
  color: #68D8EF;
}

.sublime-section * {
  font-size: 15px;
}

.profile-links {
  margin-top: -30px;
}

.profiles__logo {
  position: relative;
}

.profiles__logo a {
  text-decoration: none;
  padding-right: 20px;
}

.profiles__logo svg, .profiles__logo img, .profile__logo {
  width: 130px;
}

.profiles__logo .so__logo {
  width: 160px;
}

.profiles__logo .github__logo {
  width: 80px;
}

.profiles__logo .medium__logo {
  width: 100px;
}

.profile-logo {
  transition: .4s;
}
.profile-logo:hover {
  transform: scale(1.1);
}

.resume-link {
  display: inline-block;
  padding: 10px 0;
  padding-left: 25px;
  border-left: 4px solid;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

/*Work Page css*/

.mdl-card {
  width: 100%;
}

.work-card-wide .mdl-card__title-text {
  font-size: 15px;
}

.work-card-wide > .mdl-card__title {
  color: #fff;
  height: 190px;
}

.work-card-wide.coupondunia > .mdl-card__title {
  background: url('../img/CD.jpg') center / cover;
}

.work-card-wide.flyrobe > .mdl-card__title {
  background: url('../img/flyrobe.jpg') center / cover;
}

.work-card-wide.browserstack > .mdl-card__title {
  background: url('../img/browserstack.png') center / cover;
  background-size: 90% 50%;
  background-repeat: no-repeat;
}

.work-card-wide.scipy > .mdl-card__title {
  background: url('../img/scipy.jpg') no-repeat;
  background-size: cover;
}

.work-card-wide.estripper > .mdl-card__title {
  background: url('../img/estripper.png') no-repeat;
  background-size: cover;
}

.techs {
  padding: 0 15px;
  letter-spacing: .8px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #f44336;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
  background: #f44336;
}

.mdl-tabs.is-upgraded .mdl-tabs__panel.is-active,
.mdl-tabs__panel {
  display: block;
  padding-top: 30px;
}

.mdl-tabs__tab-bar {
  border-bottom: 1px solid #f44336;
}

#course-panel img {
  height: 125px;
  width: 206px;
  margin: auto;
}


/*BLOG CSS*/

.blog-card .mdl-card__title {
  padding: 0;
  max-height: 162px;
  min-height: 162px;
}

.blog-text {
  font-size: 16px;
}


/*COntact*/

.social-link a {
  display: inline-block;
  margin-right: 10px;
}


/*GRID CSS*/

.width960 {
  max-width: 960px;
}

.standard-width {
  max-width: 1200px;
}


/* DESKTOP SPECIFIC */

@media (min-width: 760px) {
  .mdl-layout__drawer-button {
    display: none;
  }
}

/* BELOW DESKTOP */
@media (max-width: 959px) {
  .mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
    padding: 0px 50px;
  }
  .main-content {
    padding: 0;
  }
}

/* BELOW TABLET */
@media (max-width: 760px) {
  .hero-content {
    padding: 0 20px;
  }
  .hero-content h2 {
    font-size: 30px
  }
  .hero-content h4 {
    font-size: 20px;
  }
  .header-links {
    display: none;
  }
  .mdl-layout__drawer-button {
    top: 50%;
    transform: translateY(-50%);
  }
  .mdl-layout__drawer>.mdl-layout-title {
    height: 80px;
    line-height: inherit;
  }
}


/*MOBILE SPECIFIC CSS*/

@media (max-width: 480px) {
  .work-card-wide.flyrobe > .mdl-card__title {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .work-card-wide > .mdl-card__title {
    color: #fff;
    height: 150px;
  }

  .mdl-layout__header-row .mdl-navigation__link {
    display: none;
  }
}
