.d-flex {
  display: flex;
}

/*SUBLIME/General CSS*/

.tab-bgLayer {
  background: #171714;
}

.small-font {
  font-size: 12px;
}

.text-green {
  color: #A3C336;
}

.text-pink {
  color: #F9236F;
}

.bg-pink {
  background: #B43E60
}

.bg-green {
  background: #009688;
  color: white;
}

.bg-dust {
  background: #EBEBEB;
}

.cd-color {
  color: #1B5E8B;
}

.text-darkBlue {
  color: #2F3757;
}

.text-white {
  color: white;
}

.text-orange {
  color: #DB752B;
}

.text-green {
  color: #57AC6F;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.big-font {
  font-size: 16px;
}

.pull-right {
  float: right;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.show-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.full-border {
  border: 1px solid !important;
}

.tab-key {
  padding-left: 30px;
}

.padding-top20 {
  padding-top: 20px;
}

.visible-font {
  color: black;
  font-weight: bold;
}

.btn.btn-medium {
  min-width: 145px;
  font-size: 13px;
}

.btn {
  padding: 12px 0px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 14px;
  letter-spacing: 2px;
}

.pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.margin-center {
  margin: 0 auto;
}

.line-spacer {
  position: relative;
}
.line-spacer:after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.border-top {
  border-top: 2px solid white;
}
