<div class="main-content padding-top20">
    <div class="mdl-grid home-page">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset mdl-cell--5-col-tablet ph-30 mdl-shadow--2dp pv-20">
            <div>
                <div class="text-pink bold">&lt; About Me &gt;</div>
                <div class="tab-key">
                    HELLO WORLD!
                    <div>I am a Frontend engineer, who loves to code in Javascript/React/Rails/Node,js/Python (Polyglot developer).</div>
                    <br>
                    Started professional career as a Front-end Engineer <a href="www.coupondunia.in" target="_blank">@Coupondunia.in</a>. Then worked for a Rental E-commerce website <a href="www.flyrobe.com" target="_blank">@Flyrobe.com</a> (Developed first website from scratch).
                    <br>Currently wrorking as Frontend Engineer <a href='https://www.browserstack.com' target="_blank">@Browserstack</a>.
                    <br>
                    <br> I am an Open Source Lover, and contributed to <a href="http://www.getmdl.io/started/" target="_blank">Google's Material Design Lite</a> library. (First contribution: fixed <a href="https://goo.gl/TKHzRL#issuecomment-183306502">issue #4091</a>).
                </div>
                <div class="text-pink bold">&lt;/ About Me &gt;</div> <br>
                
                <div class="text-pink bold">&lt; Weekend Work/Mini Project &gt;</div>
                    <div class="tab-key">
                        <div class="">
                            <strong>Chrome Extensions:</strong>
                            <ol>
                                <li><a href="https://chrome.google.com/webstore/detail/medium-toc/choocdlaiijncfomfilklhfakcbknnel" target="_blank">Medium: Sticky Table of Content</a></li>
                            </ol>
                        </div>
                        <div class="">
                            <strong>NPM Packages:</strong>
                            <ol>
                                <li><a href="https://www.npmjs.com/package/helper-meth" target="_blank">Helper-Meth</a>: Helpful methods on String, Array, Object, Number and Function in Javascript</li>
                                <li><a href="https://www.npmjs.com/package/material-tooltip" target="_blank">Material-Tooltip</a>: Material design tooltip component using CSS and pure Javascript</li>
                            </ol>
                        </div>
                    </div>
                <div class="text-pink bold">&lt; Weekend Work/Mini Project &gt;</div>

                <div class="text-pink bold padding-top20">&lt; Favorite quote &gt;</div>
                <div class="tab-key italic">
                    "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live" - John Woods
                </div>
                <div class="text-pink bold">&lt;/ Favorite quote &gt;</div>
                <div class="text-pink bold padding-top20">&lt; Things I like &gt;</div>
                <div class="tab-key">
                    Apart from tech work, I like to play Table Tennis, Swimming, Gaming, drawing/watching Anime.
                </div>
                <div class="text-pink bold">&lt;/ Things I like &gt;</div>
            </div>
        </div>
        <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet">
			<img src="assets/img/blue.jpg" width="100%">
		</div> -->
    </div>
</div>
<!-- <div data-ng-include data-src="'app/shared/footer/footer.html'"></div> -->
