<div class="main-content padding-top20">
    <div class="mdl-grid home-page">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset mdl-cell--5-col-tablet ph-30 mdl-shadow--2dp pv-20">
            <div>
                <div class="text-pink bold">&lt; About Me &gt;</div>
                <div class="tab-key">
                    HELLO WORLD! Was the first statement executed by me when I was born.
                    <div>
                        Started working as a Web Developer at "Developement Center, IIPS, Devi Ahilya University". Joined this Non-Profit Organization (During college) to get hands on experience on live project working with other students, learning together through
                        <a href="https://www.coursera.org/">Coursera</a>,
                        <a href="https://www.udacity.com">Udacity</a>,
                        <a href="https://www.edx.org/">EDX</a>, conferences like <a href="http://scipy.in">SciPy</a>.
                    </div>
                    <br> Started professional career as a Front-end developer and worked for several Mumbai Based Startups as a Freelance Developer. Currently wrorking as Frontend Engineer @<a href='https://www.browserstack.com' target="_blank">Browserstack</a>.
                    <br>
                    <br> I am an Open Source Lover, and contributed to <a href="http://www.getmdl.io/started/">Google's Material Design Lite</a> (First contribution :D). Love to code in Python/Javascript/Rails/Node.js/Go.
                </div>
                <div class="text-pink bold">&lt;/ About Me &gt;</div>
                <div class="text-pink bold padding-top20">&lt; Favorite quote &gt;</div>
                <div class="tab-key italic">
                    "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live" - John Woods
                </div>
                <div class="text-pink bold">&lt;/ Favorite quote &gt;</div>
                <div class="text-pink bold padding-top20">&lt; Things I like &gt;</div>
                <div class="tab-key">
                    Apart from tech work, I like to play Table Tennis, Swimming, Gaming, drawing/watching Anime.
                </div>
                <div class="text-pink bold">&lt;/ Things I like &gt;</div>
            </div>
        </div>
        <!-- <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet">
			<img src="assets/img/blue.jpg" width="100%">
		</div> -->
    </div>
</div>
<!-- <div data-ng-include data-src="'app/shared/footer/footer.html'"></div> -->
