<link rel="stylesheet" type="text/css" href="assets/css/monokai-sublime.css">
<div class="mdl-grid width960 main-content">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--2-col">
      </div>
      <div class="mdl-cell mdl-cell--8-col">
        <h5 class="uppercase text-center text-pink">
          Revealing Module Pattern: tips
        </h5>
      </div>
      <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--middle">
        <div class="small-font text-right">
          Posted - 11th July 2018
        </div>
      </div>
    </div>
    <div class="">
      <div class="blog-text pv-20">
        Revealing module pattern is a design pattern to organize your javascript code in modules like structure. It gives you power to create public/private variables/methods (using closure), and avoids polluting global scope.

        Example code:
        <pre><code>var namesCollection = (function() {
    // private members
    var objects = [];
    
    // Public Method
    function addObject(object) {
        objects.push(object);
        printMessage(object);
    }
  
    // Private Method
    function printMessage(object) {
        console.log("Object successfully added:", object);
    }

    // public members, exposed with return statement
    return {
        addName: addObject,
    };
})();
</code></pre>
      </div>

      <h5>Improving Code Readibility</h5>
      <div class="blog-text pv-20">
        You can add some changes to your code to make it more readable.
        <ul>
          <li>
            <b>Putting "return" statement at the top of the file:</b> So that if other developers open your module code, they can quickly see what methods are exposed as public, instead of scrolling down to end of the file.
          </li>
          <li>
            <b>Function naming convention:</b> You can check above code, and can see that you can't tell which function is private and which is public. To fix this, you can prefix your private function with underscore: 'function _printMessage'.
            Now if you will read your code you can clearly know which are private methods.
            After these changes your code will look this:
            <pre><code>var namesCollection = (function() {
    // private members
    var objects = [];

    // public members, exposed with return statement
    return {
      addName: addObject,
    };
    
    // Public Method
    function addObject(object) {
      objects.push(object);
      _printMessage(object);
    }
  
    // Private Method - Prefixed with single underscore
    function _printMessage(object) {
      console.log("Object successfully added:", object);
    }
})();
</code></pre>
            <b>Note:</b> It is safe to return from Module function before your member function declaration. All your function declaration will get hoist.
          </li>
          <li>
            <b>Named function, instead of anonymous:</b> If you have used event binding in javascript you know that you bind an event with anonymous function, like:
            <pre><code>document.getElementById('someID').addEventListener('click', function() {
  // Perform Some magic
})</code></pre>
            Instead of this you can separate the anonymous function and make it named function, which you can call separately as well. e.g.:
            <pre><code>document.getElementById('someID').addEventListener('click', __someMagicCode);
document.getElementById('anotherID').addEventListener('click', __someDarkMagicCode);

function __someMagicCode() {
  // Perform Some magic
}

function __someDarkMagicCode() {
  // Perform Some dark magic
}</code></pre>

          As you can see your code has become more readable now. Now all your event bindings are at top, and their respective functions are at bottom. You can use double underscore prefix for event binding function, to separate it from private functions.
          </li>
        </ul>

        <div class="blog-text">
          Code sample taken from: <a href="https://www.toptal.com/javascript/comprehensive-guide-javascript-design-patterns">Toptal Blog: Comprehensive Guide Javascript Design Patterns</a>
        </div>

      </div>
    </div>
    <div class="pv-30">
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
