<div class="mdl-grid width960 main-content">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--2-col">
      </div>
      <div class="mdl-cell mdl-cell--8-col">
        <h5 class="uppercase text-center text-pink">
                    Vertical Tabs with Material design lite 
                </h5>
      </div>
      <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--middle">
        <div class="small-font text-right">
          Posted - 4th April 2016
        </div>
      </div>
    </div>
    <div class="">
      <div class="blog-text pv-20">
        <a href="http://www.getmdl.io/components/index.html#layout-section/tabs" class="text-pink">Google's Material design lite</a> library has horizontal tabs but doesn't have vertical tabs and the possible reason for this could be : <b>"<a href="https://www.google.com/design/spec/components/tabs.html#tabs-specs" class="text-pink">Material Design Specification</a> doesn't have specification for vertical tabs</b>". Currently In MDL, horizontal tabs looks like this:
      </div>
      <h5>Horizontal tabs using MDL</h5>
      <div class="bg-dust pv-20 ph-20">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
          <div class="mdl-tabs__tab-bar">
            <a href="#starks-panel" class="mdl-tabs__tab is-active">Starks</a>
            <a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
            <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
          </div>
          <div class="mdl-tabs__panel is-active" id="starks-panel">
            Stark Content
          </div>
          <div class="mdl-tabs__panel" id="lannisters-panel">
            Lannisters Content
          </div>
          <div class="mdl-tabs__panel" id="targaryens-panel">
            Targaryens Content
          </div>
        </div>
      </div>
      <div class="blog-text pv-20">
        MDL's default tab is horizontal. But depending on the design you would like to show it vertically aligned. You can achieve this with <a href="http://www.getmdl.io/components/index.html#layout-section/grid" class="bold text-pink">"MDL Grid"</a> and <span class="bold text-pink">"Some Custom CSS"</span>. I have used the design of vertical tabs similar to which I have used in past.
      </div>
      <div>
        <h5>Vertical tabs using custom CSS</h5>
        <iframe height='265' scrolling='no' title='Vertical Tabs With Material Design Lite' src='//codepen.io/rahul-sagore/embed/WwZXGa/?height=265&theme-id=0&default-tab=result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%; min-height: 340px'>See the Pen <a href='https://codepen.io/rahul-sagore/pen/WwZXGa/'>Vertical Tabs With Material Design Lite</a> by Rahul Sagore (<a href='https://codepen.io/rahul-sagore'>@rahul-sagore</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
      </div>
      <div class="pb-20">
        <h5 class="mt-20">Implementation</h5> To make it work:
        <ul>
          <li>Add ".vertical-mdl-tabs" class to ".mdl-tabs", which is a tab container. (I have added vertical tab design with this custom class)</li>
          <li>Then divide the ".mdl-tabs" and ".mdl-tabs__panel" using "Material Grid columns".(Check HTML tab of codepen)</li>
          <li>MDL Grid will divide the tab and tab content in two columns and will make it vertical alligned</li>
          <li>But the design will be the same as horizontal tab. To make it look like vertical tab use the CSS from CSS Tab of the codepen.</li>
        </ul>
      </div>
      <div>This is just a temporary solution. Check the HTML/CSS tab of above codepen to understand more. Comments and improvements are welcomed :) </div>
      <!-- <div class="pv-20">
                <div class="the-end margin-center">
                    The End
                </div>
            </div> -->
    </div>
    <div class="pv-30">
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function () {
    var pageURL = 'vertical-tabs-with-material-design-lite'
    DISQUS.reset({
      reload: true,
      config: function () {  
        this.page.identifier = pageURL;  
        this.page.url = "http://rahul-sagore.github.io/#/blog/"+ pageURL;
      }
    });
  }, 1000);
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
