<div class="mdl-grid width960 main-content">
	<div class="mdl-cell mdl-cell--12-col">
		<h5 class="uppercase text-center text-pink">
			Verticle Tabs with Material design lite
		</h5>
		<div class="">
			<div class="blog-text pv-20">
				Google's Material design lite has horizontal Tabs but doesn't have vertical tabs, and the reason for this is that <b>"<a href="https://www.google.com/design/spec/components/tabs.html#tabs-specs" class="text-pink">Material Design Specification</a> doesn't have design for vertical tabs</b>". In MDL, horizontal tabs looks like this: 
			</div>

			<h5>Horizontal Tabs Using MDL</h5>
			<div class="bg-dust pv-20 ph-20">
				<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
				  <div class="mdl-tabs__tab-bar">
				      <a href="#starks-panel" class="mdl-tabs__tab is-active">Starks</a>
				      <a href="#lannisters-panel" class="mdl-tabs__tab">Lannisters</a>
				      <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a>
				  </div>

				  <div class="mdl-tabs__panel is-active" id="starks-panel">
				    Stark Content
				  </div>
				  <div class="mdl-tabs__panel" id="lannisters-panel">
				    Lannisters Content
				  </div>
				  <div class="mdl-tabs__panel" id="targaryens-panel">
				    Targaryens Content
				  </div>
				</div>
			</div>
			<div class="blog-text pv-20">
				MDL's default tab is horizontal. But depending on the design you would like to show it vertically aligned.
				You can achieve this with <a href="http://www.getmdl.io/components/index.html#layout-section/grid" class="bold text-pink">"MDL Grid"</a> and <span class="bold text-pink">"Some Custom CSS"</span>. I have used the design of vertical tabs similar to which I have used in past for Startup companies.
			</div>
			<div>
				<h5>Vertical Tabs using Custom CSS</h5>
				<iframe height='268' scrolling='no' src='//codepen.io/rahul-sagore/embed/mPBqRq/?height=268&theme-id=0&default-tab=result' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/rahul-sagore/pen/mPBqRq/'>Vertical Tabs With Material Design Lite</a> by Rahul Sagore 		(<a href='http://codepen.io/rahul-sagore'>@rahul-sagore</a>) on <a href='http://codepen.io'>CodePen</a>.
				</iframe>
			</div>

			<div class="pb-20"> 
				<h5 class="mt-0">Implementation</h5>
				To make it work: 
					<ul>
						<li>You need to add ".vertical-mdl-tabs" class to ".mdl-tabs", which is a tab container. (I have added vertical tab design with this custom class)</li>
						<li>Then divide the ".mdl-tabs" and ".mdl-tabs__panel" using "Material Grid columns".(Check HTML tab of codepen)</li>
					 	<li>MDL Grid will divide the tab and tab content in two columns and will make it vertical alligned</li>
					 	<li>But the design will be the same as horizontal tab. To make it look like vertical tab use the CSS from CSS Tab of the codepen.</li>
					 </ul>

			</div>
			<div>This is just a temporary and simplest solution. Check the HTML/CSS tab of above codepen to understand more. Comments and improvements are welcomed  :) </div>

			<!-- <div class="pv-20">
				<div class="the-end margin-center">
					The End
				</div>
			</div> -->
		</div>
		<div class="pv-30">
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>