<!DOCTYPE html>
<html lang="en">

 <head>
 	<meta charset="UTF-8">
 	<title>Angular.js - Lazy Loading</title>
</head>
<!-- Defining scope of angular app using ng-app-->
<body ng-app="lazyApp" ng-controller="lazyController">
	
	<h1>Showing popular Instagram pictures</h1> 
	<!-- Button to render more images on demand -->
	<button type="button" class="btn btn-success" ng-click="getMore()">
	  You have {{pics.length}} pictures on page - Click to see more pictures?
	</button>

	<!-- Iterating instagram images using mg-repeat directive -->
	<div ng-repeat="p in pics | orderBy:orderBy">
		<a href="{{p.link}}" target="_blank">
			<img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}">
		</a>
		<span> {{p.likes.count}}</span>      
    </div>

</body>
<!-- Js link for angularJs -->
<script src="js/angular.min.js"></script> 

<script type="text/javascript">
  /*Defininf angularJS module/app */
  angular.module("lazyApp", [])
    .filter('fromTo', function() {
        return function(input, from, total, lessThan) {
            from = parseInt(from);
            total = parseInt(total);
            for (var i = from; i < from + total && i < lessThan; i++) {
                input.push(i);
            }
            return input;
        }
    })
    .factory('instagram', ['$http',
        function($http) {
        	/*Function for making call to Instagram API for images*/
            return {
                fetchPopular: function(callback) {
                	/*API with client ID of Rahul Sagore*/
                    var endPoint = "https://api.instagram.com/v1/media/popular?client_id=642176ece1e7445e99244cec26f4de1f&callback=JSON_CALLBACK";
                    /* Making calls using $http object*/
                    $http.jsonp(endPoint).success(function(response) {
                        callback(response.data);
                    });
                }
            }
        }
    ])
    .controller("lazyController", function($scope, $interval, instagram) {
      $scope.pics = [];
      $scope.have = [];
      $scope.orderBy = "-likes.count";
      $scope.getMore = function() {
        instagram.fetchPopular(function(data) {
            for(var i=0; i<data.length; i++) {
              if (typeof $scope.have[data[i].id]==="undefined") {
                $scope.pics.push(data[i]) ;
                $scope.have[data[i].id] = "1";
              }
            }
        });
      };
      $scope.getMore();
    });
</script>
</html>