html, body{
	height: 100%;
}
h4{
	background: #F95122;
	padding: 20px;
	color: white;
	font-family: volkorn; 
}
h5{
	font-size: 16px;
	color: white;
	background: green;
	padding: 10px;
}
.wrap{
	min-height: 600px;
	margin-bottom: -145px;
	text-align: center;
}
.visual{
	background: grey;
	padding: 30px;
	padding-left: 80px;
}
.seatCss{
	float: left;
	margin-right: 30px;
	width: 15px;
	height: 15px;
	background: white;
}
.selectedSeat{
	float: left;
	margin-right: 30px;
	width: 15px;
	height: 15px;
	background: green;
}
footer{
	height: 145px;
}