<div class="mdl-grid main-content padding-top20">

	<div class="mdl-cell mdl-cell--5-col mdl-cell--4-offset">
		<div class="text-pink bold uppercase">&lt; Email Address &gt;</div>
			<br>
			<div class="tab-key">
				<img src="https://www.google.com/images/icons/product/googlemail-128.png" width="30px"> 
				Contact me through gmail : <span class="big-font">rahul.sagore@gmail.com</span>
			</div>
			<br>
		<div class="text-pink bold uppercase">&lt; / Email Address &gt;</div>
		<br><br>
		<div class="text-pink bold uppercase">&lt; Social Network &gt;</div>
			<br>
			<div class="tab-key social-link">
				<a href="http://twitter.com/Rahulx1" target="_blank">
					<button class="btn btn-medium twitter-btn text-white">Twitter</button>
				</a>
				<a href="https://github.com/Rahul-Sagore" target="_blank">
					<button class="btn btn-medium github-btn text-white bold full-border">GitHub</button>
				</a>
				<a href="https://plus.google.com/u/0/+RahulSagore" target="_blank">
					<button class="btn btn-medium google-btn text-white">Google+</button>
				</a>
			</div>
			<br>
		<div class="text-pink bold uppercase">&lt; / Email Adress &gt;</div>
	</div>
</div>